@import "../../custom";

.centered {
  display: flex;
  justify-content: center;
}

.education {
  @extend .container;
  //display: flex;
  //flex-direction: column;

  &__title {
    max-width: 1280px;
    font-weight: 400;
    font-size: 60px;
    line-height: 62px;
    padding-bottom: 16px;

    @extend .text-white;

    @media (max-width: 767px) {
      font-size: 36px;
      line-height: 45px;
    }
  }

  &__card {
    @extend .centered;

    &__body {
      max-width: 320px;

      @media (max-width: 767px) {
        max-width: 265px
      }

      cursor: grab;

      :hover {
        fill: #ff613f
      }

      .link {
        outline: none;
        text-decoration: none;
        cursor: pointer;
      }

      .icon {
        @extend .centered;
        width: 100%;
        height: 150px;
        align-items: flex-end;
        margin-bottom: 14px;

        @media (max-width: 1079px) {
          margin-bottom: 17px
        }

        & svg {
          max-width: 100%;
          fill: snow;
          -webkit-transition: fill .3s ease;
          transition: fill .3s ease;
        }

      }

      .title {
        @extend .display-3;
        @extend .text-white;
        @extend .centered;
        @extend .link;
      }

      .shortDescription {
        @extend .text-white;
        margin: 0 0 7px;
        font-weight: 400;
        font-size: 23px;
        line-height: 32px;
        @extend .centered;
        text-align: center;

        @media (max-width: 767px) {
          font-size: 22px;
          line-height: 28px
        }
      }

      .description {
        @extend .text-white;
        margin: 0 0 20px;
        font-weight: 400;
        font-size: 16px;
        line-height: 23px;
        text-align: justify;
      }

      .time {
        @extend .text-white;
        margin: 0;
        font-weight: 400;
        font-size: 28px;
        line-height: 35px;
        position: relative;
        padding-bottom: 16px;

        @media (max-width: 767px) {
          font-size: 22px;
          line-height: 28px
        }

        &__badge {
          @extend .badge;
          @extend .bg-white;
          @extend .text-dark;
          transform: rotate(-20deg);
          position: absolute;
          border-radius: 20px;
          right: 0;
        }
      }
    }
  }
}
